<script>
  import { Button, Card, Icon, Image } from "smelte"
  export let counts = []
  export let html = null
  export let imageUrl = null
  export let text = null
  export let title = null
  export let url = null
</script>

<Card.Card class="bg-white w-full sm:h-full">
  <div slot="title">
    {#if title}
      <Card.Title {title} />
    {/if}
  </div>
  <div slot="media">
    {#if imageUrl}
      <Image class="w-full" src={imageUrl} alt="image" />
    {/if}
  </div>
  <div slot="text">
    {#if html}
      <div class="text-html p-5 pb-0 pt-3 text-gray-700 body-2">
        {@html html}
      </div>
    {:else if text}
      <div class="p-5 pb-0 pt-3 text-gray-700 body-2">{text}</div>
    {/if}
  </div>
  <div slot="actions" class="mt-auto">
    {#if counts.length || url}
      <div class="px-2 py-3 flex items-center">
        {#each counts as { count, icon, title } (icon)}
          {#if count}
            <div class="mx-3 inline-flex" {title}>
              {count}
              <Icon>{icon}</Icon>
            </div>
          {/if}
        {/each}
        <div class="ml-auto">
          {#if url}
            <Button text href={url} target="_blank">View</Button>
          {/if}
        </div>
      </div>
    {/if}
  </div>
</Card.Card>
