<script>
	export let sourceRenderType
	export let data
	export let extra
	export let backgroundColor

	import Cards from "./Cards.svelte"
	import Content from "./Content.svelte"
</script>

{#if data}
	{#if sourceRenderType === 'cards'}
		<Cards items={data} {extra} />
	{:else if sourceRenderType === 'content'}
		<Content {...data} {backgroundColor} />
	{/if}
{/if}
