<script>
	export let title
	export let pageSlug = null
	export let url = null

	import { stores } from "@sapper/app"
	import { getPageUrl } from "../url"
	const { session } = stores()

	$: config = $session.config
	$: href = pageSlug ? getPageUrl(config.basePath, pageSlug) : url
</script>

<div class="flex justify-center my-8"><a class="btn btn-secondary" {href}>{title}</a></div>
